body
{ color: black;
  background-color: #b0c4de;
  font-family: sans-serif;
  font-size: 10pt;
  }

code
{ font-family: courier, monospaced; }

.full_page
{ position: absolute;
  top: 0px;
  height: 100%;
  left: 0px;
  right: 0px;
  }

.title_bar
{ padding: 4px;
  text-align: center;
  background-color: #b0c4de;
  width: 100%;
  height: 60px;
  }

.left_column
{ position: absolute;
  padding: 0px;
  top: 0px;
  margin-top: 60px;
  left: 4px;
  width: 172px;
  height: 100%;
  background-color : #b0c4de;
  }

.centre_column
{ margin-left: 180px;
  margin-right: 180px;
  border : 4px solid;
  border-color: #5060a0 #d0e0ff #d0e0ff #5060a0;
  background-color : white;
  font-size: 12pt;
  padding : 4px;
  }

.top_border
{ clear : both; }

.bottom_border
{ clear : both; }

.vert_border
{ text-indent : 1em;
  margin-top : 0px;
  }

.centred
{
  text-align: center;
  }

.right_column
{ position: absolute;
  padding: 0px;
  top: 60px;
  right: 4px;
  width: 172px;
  height: 100%;
  background-color : #b0c4de;
  }

h1
{ margin : 1px }

h3
{ margin : 1px }

table.classes
{ font-size: smaller; }

.proj_name
{ font-family: serif;
  font-weight: bold;
  font-variant: small-caps; }

.section_head
{ font-family: sans-serif;
  font-size: 14pt;
  font-weight: bold;
  font-variant: small-caps; }

.tool_heading
{ font-family: sans-serif;
  font-size: 12pt;
  font-weight: bold;
  left: 8px; }

.menu_title
{ font-weight : bold; }

.link_box
{ font-family: sans-serif;
  font-size: 10pt;
  margin-top : 2ex; }

.link_box p
{ margin-left : 8px;
  margin-top: 2px;
  margin-bottom: 8px; }

.link_box a:link
{ background : transparent;
  padding : 3px;
  }

.link_box a:visited
{ background : transparent;
  padding : 3px;
  }

.link_box a:hover
{ color : #000000;
  text-decoration : none;
  background : transparent;
  border : 2px solid;
  border-color: #e0f0ff #206080 #206080 #e0f0ff;
  padding : 1px;
  }

.link_box a:active
{ color : #000000;
  text-decoration : none;
  background : transparent;
  border : 2px solid;
  border-color: #206080 #e0f0ff #e0f0ff #206080;
  padding : 1px;
  }

.spacer
{ clear: both; }

.heading
{ font-family: sans-serif;
  font-size: 20pt; 
  font-weight: bold;
  font-variant: small-caps;
  }

.logo
{ float: left; }

.logo img
{ width: 128px; height:128px; }

